<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <style>
        div{
            background: coral;
            display: inline-block;
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
</head>
<body>
<h3>Menu</h3>
<div>Hi, user ;)</div>
<br>
<hr>
<table>
    <tr><td><a href="/person/show/all">List all people.</a></td></tr>
    <tr><td><a href="/person/add/new_person">Add new person</a></td></tr>
</table>
</body>
</html>