<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new person.</title>
    <style>
        div {
            background: coral;
            display: inline-block;
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
</head>
<body>
<h2>User, you can add new person in DB.</h2>
<form method="post" th:action="@{/person/add/new_person}" th:object="${new_person}">
    <table>
        <tr>
            <td>Name</td>
            <td>><input type="text" th:field="*{name}" th:value="*{name}"/></td>
        </tr>
        <tr>
            <td>Emale</td>
            <td>><input type="text" th:field="*{email}" th:value="*{email}"/></td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Create new person!"/>
</form>
</body>
</html>